.optionbar{
    border:yellow 2px solid;
   
    height: 32vh;
    width: 88.9vw;
align-self: flex-end;
resize: none;
overflow-y: scroll;
z-index: 5;
position: absolute;
top: 68%;
left: 10.5%;

}

.optionsdisplayelements{
    padding-top: 10px;
    padding-bottom: 10px;
}